/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  background-image: url("img/sf.jpeg");
  background-color: #cccccc;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 60px 15px 0;
}
.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

.row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.social-icons {
  font-size: 2rem;
  float: right;
}

.social-icons i {
  color: #41464b;
}

img {
  max-height: 80%;
  max-width: 100%;
}

h3 {
  font-weight: bold;
  margin-bottom: 2%;
}
