<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>{{ site.title }}: {{ page.title }}</title>

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <!-- FontAwesome Icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- MathJax -->
    <script type="text/javascript" async
	    src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-MML-AM_CHTML">
    </script>
	
    <<link rel="icon" href="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/160/apple/285/woman-technologist_1f469-200d-1f4bb.png">
    <link rel="stylesheet" href="{{ 'css/custom.css' | relative_url }}">
  </head>
  <body>

    {% assign current = page.url | downcase | split: '/' %}
    {% assign projectsClass = 'disabled' %}
    {% assign resumeClass = 'disabled' %}
    {% assign experienceClass = 'disabled' %}
    {% for page in site.html_pages %}
      <!--h1>{{ page.url }}</h1-->
      {% if page.url == '/projects.html' %}
          {% assign projectsClass = '' %}
      {% endif %}
      {% if page.url == '/experience.html' %}
          {% assign experienceClass = '' %}
      {% endif %}
<!--  resume is an external pdf file
      {% if page.url == '/resume.html' %}
          {% assign resumeClass = '' %}
      {% endif %} -->
    {% endfor %}
	  
    <!--h2>{% if current[1] == %} 5 {% endif %}</h2-->

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	  
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>


    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container">
        <a class="navbar-brand" href="index.html" style="font-size: 1.6rem;">Kaylee Deng</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div id="navbarNav" class="collapse navbar-collapse justify-content-end">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a href="projects.html" class="nav-link {{ proejctsClass }}{% if current[1] == 'projects.html' %} active {% endif %}">Projects</a>
            </li>
            <li class="nav-item">
              <a href="experience.html" class="nav-link {{ experienceClass }}{% if current[1] == 'experience.html' %} active {% endif %}">Experience</a>
            </li>
            <li class="nav-item">
              <a href="resume.pdf" class="nav-link {{ resumeClass }}{% if current[1] == 'resume.pdf' %} active {% endif %}">Resume</a>
            </li>
		  
<!--             <li class="nav-item">
              <a href="contact.html" class="nav-link {% if current[1] == 'contact.html' %} active {% endif %}">Contact</a>
            </li> -->
		  
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>


    <div class="container">
      <!-- <div class="page-header">
        <h2>
        {{ page.title }}
        </h2>
      </div> -->


        {{ content }}

    </div><!-- /.container -->

    <br><br><br>

    <footer class="footer bg-faded mt-auto" style="background-color: transparent">
      <div class="container">
        <div class="row">
          <div class="column">
            <p class="text-muted">© 2021 Copyright: Kaylee Deng</p>
          </div>
          <div class="column" style="align-items: flex-end">
            <span class="social-icons">
              <a href="https://www.linkedin.com/in/bixia-d-880753122/"><i class="fa fa-linkedin"></i></a>
              <a href="https://github.com/bikaylee"><i class="fa fa-github"></i></a>
              <a href="https://www.youtube.com/channel/UCAuma7q5CuZObcfY30n3R4Q"><i class="fa fa-youtube"></i></a>
              <a href="mailto:bixiadd@gmail.com"><i class="fa fa-envelope"></i></a>
            </span>
          </div>
        </div>
      </div>
    </footer>

</body>
</html>

